{deps_dir, "deps"}.
{deps, [
    {active,  ".*", {git, "git://github.com/synrc/active", "HEAD"}},
    {rest,    ".*", {git, "git://github.com/synrc/rest", "HEAD"}},
    {kvs,     ".*", {git, "git://github.com/synrc/kvs", "HEAD"}},
    {erlmarkdown,".*",{git,"git://github.com/erlware/erlmarkdown", "HEAD"}},
    {n2o,     ".*", {git, "git://github.com/5HT/n2o", "HEAD"}}
]}.
{fetch_speed,fast_master}.
{verbose,1}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
