[
 {active, [{handler,{uu,active}}]},
 {n2o,    [{port,8820},
           {app,uu},
           {route,uu_routes},
           {log_modules,uu},
           {log_backend,n2o_log},
           {event,pickle}]},
 {kvs,    [{dba,store_mnesia},
           {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription ]} ]}].
